html,body {
margin:0;
padding:0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  z-index: -2000;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 700;
}

.iframes {
  padding: 20px;
  width: calc(100vw-40px);
  position: relative;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

//end meyer css


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto+Condensed:300,400,700|Special+Elite');
//VARIABLES

$font-light-color: white;
$font-medium-color: #A9B4C0;
$font-dark-color: rgb(70, 80, 90);

$font-headers: 'Playfair Display', serif;
$font-content: 'Roboto Condensed', sans-serif;
$font-buttons: 'Roboto Condensed', sans-serif;
$button-font-weight: 100;
$button-letter-spacing: 1px;

$button-font-size: 14px;

$light-page-background-color: white;
$tan: rgba(243, 233, 210, .9);
$gray: rgba(43, 45, 66, .9);

 h1 {
    font-family: $font-headers;
    font-size: 18px;
    font-weight: 400;
    color: $font-dark-color;
    letter-spacing: 3px;
    line-height: 20px;
}

h2 {
  font-family: $font-headers;
  font-size: 14px;
  color: $font-dark-color;
  letter-spacing: .5px;
  font-weight: 400;
}

h3 {
    font-family: $font-content;
    font-size: 14px;
    color: $font-dark-color;
    letter-spacing: .5px;
    font-weight: 100;
}
p {
  font-family: $font-content;
  font-size: 14px;
    color: $font-dark-color;
    letter-spacing: .5px;
    font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-text-decoration {
  color: white;
}

hr {
  color: $font-dark-color;
}

//MIXINS -----------------------------------
//BUTTON MIXINS ----------------------------

@mixin green-ghost-button {
 border-radius: 5px;
 color: $green;
 background-color: transparent;
 border: 2px solid $green;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
     color: white;
     background-color: $green;
   }
 @content;
}

@mixin tan-button {
  background-color: rgba(1, 1, 1, .5);
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
 border-radius: 5px;
 color: white;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
    opacity: .7;
    -webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
            box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
   }
 @content;
}

//MIXINS FLEXBOX

@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
@content;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
      -ms-flex: $values;
          flex: $values;
@content;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -moz-flex-direction: $direction;
   -ms-flex-direction: $direction;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
          flex-direction: $direction;
@content;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
      flex-wrap: $wrap;
@content;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -ms-flex-flow: $flow;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          flex-flow: $flow;
@content;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
         -ms-flex-order: $val;
            order: $val;
@content;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -moz-flex-grow: $grow;
   -ms-flex-grow: $grow;
       -webkit-box-flex: $grow;
           -ms-flex-positive: $grow;
          flex-grow: $grow;
@content;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -ms-flex-shrink: $shrink;
      -ms-flex-negative: $shrink;
      flex-shrink: $shrink;
@content;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -ms-flex-basis: $width;
      -ms-flex-preferred-size: $width;
      flex-basis: $width;
@content;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -moz-justify-content: $justify;
   -ms-justify-content: $justify;
       -webkit-box-pack: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
@content;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -ms-align-content: $align;
      -ms-flex-line-pack: $align;
      align-content: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -moz-align-items: $align;
   -ms-align-items: $align;
       -webkit-box-align: $align;
           -ms-flex-align: $align;
          align-items: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          -ms-flex-item-align: $align;
      -ms-grid-row-align: $align;
      align-self: $align;
  @content;
}

//RESPONSIVE DESIGN MIXINS ------------------------

@mixin xs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

//smartphones, small tablets, landscape iPhone
@mixin sm {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin landscape {
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    @content;
  }
}

//portrait tablets
@mixin md {
  @media only screen and (min-width: 641px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

//landscape iPad, low res laptops and desktops
@mixin lg {
  @media only screen and (min-width: 961px) {
    @content;
  }
}

//big landscape tablets, laptops, desktops
@mixin xl {
  @media only screen and (min-width: 1026px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1281px) {
    @content;
  }
}

@mixin custom($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        @content;
      }
    }

//-------------------------------------------
//Navbar//
  nav {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 302;
  }
  .navbar-logo {
  content: url("images/twotonebull.svg");
  height: 60px;
  margin-left: 30px;
  @include align-self(center) {
  }
  @include xl {
      content: url("images/cutebullpc.svg");
      height: 70px;
      margin-top: 30px;
  }
}

.mobile-dropdown-nav {
  position: relative;
  width: 100%;
  background-color: rgba(1, 1, 1, .7);
  height: 80px;
  -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
  @include flexbox() {
  }
  @include justify-content(space-between) {
  }
  a {
    @include flexbox() {
    }
  }
  @include xl {
    background-color: transparent;
    box-shadow: none;
  }
}

.mobile-dropdown-nav-home {
  position: relative;
  width: 100%;
  background: transparent;
  height: 70px;
  @include flexbox() {
  }
  @include justify-content(flex-end) {
  }
  a {
    @include flexbox() {
    }
  }
}

.dropbtn {
  background-color: transparent;
  padding: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 40px;
  content:url("images/hamburger-menu.png");
  @include align-self(right) {
  }
    @include ipad {
      padding: 30px 30px 30px 30px;
    }
    @include xl {
      display: none;
    }
  }


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(255, 255, 255, .7);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(1, 1, 1, .7);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  font-family: $font-content;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(175, 191, 140);
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

header {
  background-image: url("images/plant_background_mobile.png");
  position: relative;
  z-index: -2;
  padding-top: 90px;
  height: calc(100vh - 90px);
  width: 100%;
  background-size: cover;
  margin-right: -30px;
    @include ipad {
      background-image: none;
      height: calc(66vh - 90px);
      margin-right: 0;
    }
    @include xl {
      height: calc(100vh - 90px);
    }
}

.no-background {
  background-image: none;
  height: 100px;
}

.centered-box {
  position: relative;
  top: 0;
  bottom: 0;
  top: calc(50vh - 50px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    @include ipad {
      padding: 90px;
    }
    @include xl {
      display: none;
    }
}

.tan-box {
  background-color: transparent;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  // box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
  margin-left: 15px;
  position: relative;
  margin-top: -4px;
  z-index: 4;
  h1 {
    font-family: $font-headers;
    font-size: 28px;
    font-weight: 400;
    color: $font-dark-color;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 20;
    line-height: 25px;
    @include ipad {
      // font-size: 36px;
      display: none;
    }
    @include xl {
      display: none;
    }
  }
}

.video-div {
  @include ipad {
    position:relative;
    margin-top: -90px;
    height: 66vh;
  }
  @include xl {
    height: 100vh;
  }
}
.banner-video {
  display: none;
  @include ipad {
    display: unset;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 66vh;
  }
  @include xl {
    height: 100%;
  }
}

.dark-overlay {
  @include ipad {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(1, 1, 1, .5);
  }
  @include xl {
    height: 100%;
  }

// background: #000000;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


opacity: .7;
    z-index: 999;
}

.video-banner-text {
  display: none;
  @include ipad {
    display: unset;
    width: 100%;
    height: 66vh;
    position: absolute;
    top: 0;
    @include flexbox() {
    }
    @include align-items(center) {
    }
    @include justify-content(center) {
    }
    @include flex-wrap(wrap) {
    }
    z-index: 2000;
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 48px;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 8.5px;
      color: rgba(255, 255, 255, .7);
      text-shadow: 1px 1px 3px rgba(1, 1, 1, .1);
      // text-decoration: border rgba(1, 1, 1, 1);
      width: 100%;
      padding: 0 0 30px 0;
      line-height: 48px;
    }
    h2 {
      color: rgba(255, 255, 255, .5);
      width: 40%;
      font-size: 22px;
      font-family: $font-content;
      margin: 0 auto;
      font-weight: 100;
      line-height: 40px;
    }
  }
  @include xl {
    height: 100vh;
  }
}

.video-banner-text > div {
  width: 100%;
  height: 150px;
  text-align: center;
}

.banner-text {
  width: 225px;
  padding: 10px;
  margin-left: 15px;
  position: relative;
  z-index: 10;
  @include ipad {
    display: none;
    // font-size: 18px;
    // width: 350px;
  }
  @include xl {
    display: none;
  }
}

.banner-image {
  display: none;
  @include ipad {
  display: unset;
  width: 700px;
  position: relative;
  margin-top: -175px;
  margin-left: -150px;
  opacity: .2;
}
}

.snake-img {
  margin-bottom: -40px;
  width: 65%;
  @include ipad {
    display: none;
    // width: 45%;
    // margin-bottom: 40px;
  }
  @include xl {
    display: none;
  }
}

.bear-img {
  content: url("images/bear.png");
  top: 23vh;
  right: 0;
  position: absolute;
  z-index: 2;
  width: 50%;
  overflow-y: hidden;
    @include ipad {
      display: none;
      // width: 30%;
  }
  @include xl {
    display: none;
  }
}

.elephant-img {
  width: 65%;
  margin-top: -45px;
  @include ipad {
    display: none;
    // width: 45%;
    // margin-top: 0;
  }
  @include xl {
    display: none;
  }
}

.page-text {
  padding: 30px;
  h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
  }
  @include ipad {
    padding: 90px;
  }
  @include xl {
    background-image: url("images/fish2gray.png");
    background-position: left;
    background-repeat: no-repeat;
    padding: 90px 160px;
    height: 100vh;
    @include flexbox() {
    }
    @include align-items(center) {
    }
    @include justify-content(center) {
    }
  }
}

.awards-div {
  @include xl {
  height: 100vh;
  padding-top: 90px;
  background-color: whitesmoke;
}
}

.awards-page-text {
  @include ipad {
    padding: 0 90px
  }
  @include xl {
  background-color: whitesmoke;
  padding: 0 90px;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include justify-content(middle) {
  }
  @include align-items(center) {
  }
  position: relative;
  height: calc(95vh - 90px);
  margin: 0 auto;
  h1 {
    font-size: 30px;
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
    text-align: center;
  }
}
}

#about {
  padding: 70px 0;
  h1 {
    font-size: 32px;
    letter-spacing: 4px;
    width: 100%;
  }
  p {
    font-size: 18px;
    line-height: 24px;
  }
  @include xl {
    @include flexbox() {
    }
    @include flex-wrap(wrap) {
    }
    @include justify-content(space-between) {
  }
    h1 {
    font-size: 42px;
    letter-spacing: 4px;
    width: 100%;
  }
  p {
    font-size: 14px;
    line-height: 24px;
  }
}
}

.half-page-text {
  @include xl {
  width: 35vw;
  padding: 0 15px;
  position: relative;
  @include flexbox() {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }
  p {
    font-size: 12px;
  }
  }
}

.fish-gray {
  background-image: cover;
  position: absolute;
  width: 800px;
  top: 0;
  z-index: 900;
}



#awards {
  width: 100%;
  @include xl {
    font-size: 42px;
    letter-spacing: 4px;
    width: 100%;
    height: 5vw;
    text-align: center;
  }
}

.award-text {
  padding: 0 60px 60px 60px;
  @include xl {
    padding: 0 30px;
  }
}

.award-box {
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 2px;
  }
  @include xl {
    height: 350px;
    width: 27vw;
    @include flex-grow(1) {
  }
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include flex-wrap(nowrap) {
    }
    img {
      width: 50%;
      margin: 0 auto;
    }
  }
}


.alex-photo {
  // content: url("images/Alex_pic.png");
  background-position: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 90px;
  @include xl {
    width: 28vw;
    margin-bottom: 0;
  }
}

.dc-image {
    width: 30%;
    margin: 0 auto;
  @include xl {
   width: 70%;
   margin: 0 auto;
  }
}

.local-image {
  width: 30%;
  margin: 0 auto;
  @include xl {
   width: 70%;
   margin: 0 auto;
  }
}

.global-image {
  width: 30%;
  margin: 0 auto;
    @include xl {
    width: 70%;
    margin: 0 auto;
    }
  }

//PORTFOLIO SECTION--------------------
.portfolio-div {
  background-image: url("images/plant_background_mobile.png");
  position: relative;
  z-index: 30;
  height: 100vh;
  min-height: 845px;
  width: 100%;
  padding-top: 60px;
  background-size: cover;
  h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 20px;
    margin-left: 20px;
    color: $font-dark-color;
    margin-bottom: 20px;
  }
  h3 {
    font-family: 'Special Elite', cursive;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  h4 {
    font-family: 'Special Elite', cursive;
    width: 40vw;
    margin: 0 auto;
  }
  p {
    font-family: 'Special Elite', cursive;
    font-size: 12px;
  }
  @include ipad {
    padding: 90px;
    width: auto;
  }
  @include xl {
    background-image: none;
    height: calc(100vh - 180px);
    min-height: 620px;
  }
}

.slider {
  /* line them up horizontally */
  @include flexbox() {
  }

  /* allow for scrolling */
  overflow-x: auto;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;

}
.slider > div {
  /* make sure the width is honored */
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100vw;
  height: auto;
  background-color: rgba(255, 255 ,255, .7);
  -webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, .1);
          box-shadow: 1px 1px 1px rgba(1, 1, 1, .1);
  -webkit-scroll-snap-points-x: repeat(90vw);
      -ms-scroll-snap-points-x: repeat(90vw);
          scroll-snap-points-x: repeat(90vw);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
  @include ipad {
    width: 60vw;
    height: 60vw;
  }
  @include xl {
    width: 300px;
  height: 300px;
  }
}

.slide-info-div {
  @include align-self(middle) {
  }
  margin-top: 15vh;
  a:hover {
    opacity: .3;
  }
}



//GALLERY IMAGES-----------------------

.elephant-slide {
 z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.slide-text {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding: 30px;
    text-align: right;
  }

.snake-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.log-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.video {
  content: url("images/video_icon.png");
  width: 150px;
  z-index: 800;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  @include ipad {
    margin-left: 0;
  }
}

.squirrel-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.jungle-slide {
 z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
  h3, p {
    color: white;
  }
}

.bear-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.cavy-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.rhino-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.camel-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
}

.info-slide {
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 100%;
    margin: 0 auto;
  }
  @include flexbox() {
  }
  @include justify-content(center) {
  }
  h2 {
    font-family: $font-headers;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
  }
}

.shop-page-text {
  padding: 30px;
  h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
  }
  @include ipad {
    padding: 90px;
  }
  @include xl {
    background-color: whitesmoke;
    background-image: url("images/fishswimmingdown.png");
    background-position: left;
    background-repeat: no-repeat;
    padding: 90px 160px;
    height: 100vh;
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include align-items(center) {
    }
    @include justify-content(center) {
    }
    iframe {
      width: 50vw;
    }
  }
}

h1.map-h2 {
  margin-top: 60px;
  @include ipad {
    margin-top: 0;
  }
}

h2.map-h2 {
  margin-bottom: 15px;
  @include xl {
    margin-bottom: 30px;
  }
}

.spacer {
  height: 30px;
}

footer {
  // background-color: rgb(175, 191, 140);
  background-color: $font-dark-color;
  height: 170px;
  h2 {
    font-family: $font-content;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    padding-bottom: 10px;
    }
  p {
    color: lightgray;
  }
  ul {
    li:last-of-type {
      h2 {
        padding-bottom: 0;
      }
    }
  }
  @include ipad {
    height: 190px;
  }
}

.footer-div {
  padding: 20px;
  @include flexbox() {
  }
  @include justify-content(space-around) {
  }
  @include ipad {
    padding: 30px 90px;
  }
}

.second-nav {
  width: 75px;
  padding-right: 15px;
  h2 {
    text-decoration: underline;
  }
}

.contact-info {
  @include align-self(flex-end) {

  }
  width: 170px;
  h1 {
    margin-bottom: 10px;
  }
}

.social-media {
  padding-left: 15px;
}

.copyright {
  padding: 15px;
  background-color: rgba(60, 60, 60, .2);
  p {
    font-size: 12px;
  }
}
