html,body {
margin:0;
padding:0;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  z-index: -2000;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: 700;
}

.iframes {
  padding: 0;
  position: relative;
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

//end meyer css


// @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto+Condensed:300,400,700|Special+Elite');
// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet");
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400|Questrial');
//VARIABLES

$font-light-color: white;
$font-medium-color: #A9B4C0;
// $font-dark-color: rgb(70, 80, 90);
$font-dark-color: rgba(70, 70, 70, .9);


$font-navbar: 'Questrial', sans-serif;
$font-headers: 'Questrial', sans-serif;
$font-content: 'Merriweather', serif;
$font-buttons: 'Merriweather', serif;
$button-font-weight: 100;
$button-letter-spacing: 1px;

$button-font-size: 14px;

$gold: #D5AC4E;
$light-page-background-color: white;
$tan: rgba(243, 233, 210, .9);
$gray: rgba(43, 45, 66, .9);
$darkgray: rgba(70, 70, 70, .9);



 h1 {
  text-transform: capitalize;
    font-family: $font-headers;
    font-size: 40px;
    font-weight: 400;
    color: $gold;
    padding-top: 60px;
    letter-spacing: 3px;
    line-height: 20px;
    text-shadow: 1px 1px 3px rgba(70, 70, 70, 0.2);
    font-family: $font-headers;
}

h2 {
  font-family: $font-headers;
  font-size: 22px;
  color: $font-dark-color;
  letter-spacing: .5px;
  font-weight: 400;
}

h3 {
    font-family: $font-content;
    font-size: 14px;
    color: $font-dark-color;
    letter-spacing: .5px;
    font-weight: 100;
}
p {
  font-size: 17px;
  font-family: $font-content;
    color: $font-dark-color;
    letter-spacing: .5px;
    font-weight: 100;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-text-decoration {
  color: white;
}

hr {
  color: $font-dark-color;
}

//MIXINS -----------------------------------
//BUTTON MIXINS ----------------------------

@mixin green-ghost-button {
 border-radius: 5px;
 color: $green;
 background-color: transparent;
 border: 2px solid $green;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
     color: white;
     background-color: $green;
   }
 @content;
}

@mixin tan-button {
  background-color: rgba(1, 1, 1, .5);
  width: 300px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, .7);
 border-radius: 5px;
 color: white;
 width: 125px;
 font-family: $font-buttons;
 font-size: $button-font-size;
 text-transform: uppercase;
 padding: 10px 15px;
 letter-spacing: $button-letter-spacing;
   &:hover {
    opacity: .7;
    -webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
            box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
   }
 @content;
}

//MIXINS FLEXBOX

@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
@content;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
      -ms-flex: $values;
          flex: $values;
@content;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -moz-flex-direction: $direction;
   -ms-flex-direction: $direction;
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
          flex-direction: $direction;
@content;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
      flex-wrap: $wrap;
@content;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -ms-flex-flow: $flow;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          flex-flow: $flow;
@content;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
         -ms-flex-order: $val;
            order: $val;
@content;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -moz-flex-grow: $grow;
   -ms-flex-grow: $grow;
       -webkit-box-flex: $grow;
           -ms-flex-positive: $grow;
          flex-grow: $grow;
@content;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -ms-flex-shrink: $shrink;
      -ms-flex-negative: $shrink;
      flex-shrink: $shrink;
@content;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -ms-flex-basis: $width;
      -ms-flex-preferred-size: $width;
      flex-basis: $width;
@content;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -moz-justify-content: $justify;
   -ms-justify-content: $justify;
       -webkit-box-pack: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
@content;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -ms-align-content: $align;
      -ms-flex-line-pack: $align;
      align-content: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -moz-align-items: $align;
   -ms-align-items: $align;
       -webkit-box-align: $align;
           -ms-flex-align: $align;
          align-items: $align;
@content;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
      -ms-align-self: $align;
          -ms-flex-item-align: $align;
      -ms-grid-row-align: $align;
      align-self: $align;
  @content;
}

//RESPONSIVE DESIGN MIXINS ------------------------

@mixin xs {
  @media only screen and (min-width: 320px) {
    @content;
  }
}

//smartphones, small tablets, landscape iPhone
@mixin sm {
  @media only screen and (min-width: 480px) {
    @content;
  }
}

@mixin landscape {
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    @content;
  }
}

//portrait tablets
@mixin md {
  @media only screen and (min-width: 641px) {
    @content;
  }
}

@mixin ipad {
  @media only screen and (min-width: 768px) and (min-height: 450px) {
    @content;
  }
}

//landscape iPad, low res laptops and desktops
@mixin ipad-landscape {
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    @content;
  }
}

//big landscape tablets, laptops, desktops
@mixin xl {
  @media only screen and (min-width: 1026px) {
    @content;
  }
}

@mixin xxl {
  @media only screen and (min-width: 1281px) {
    @content;
  }
}

@mixin custom($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) {
        @content;
      }
    }

//-------------------------------------------
//Navbar//
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 302;
  }

  .navbar-logo {
  position: absolute;
  left: 0;
  top: 15px;
  content: url("images/twotonebull.svg");
  height: 60px;
  margin-left: 30px;
  @include align-self(center) {
  }
  @include landscape {
    display: none;
  }
  @include ipad {
    display: unset;
    left: 30px;
    content: url("images/bull_logo_pc_2.svg");
  }
  @include xl {
      content: url("images/bull_logo_pc_2.svg");
      height: 60px;
      margin-top: 0;
  }
}

.transparent-color {
  background-color: $darkgray;
   -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
  @include landscape {
    background-color: transparent;
    -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
  }
  @include ipad {
    display: unset;
    background-color: transparent;
  }
}

.background-color {
  background-color: $darkgray;
   -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
  @include landscape {
    background-color: transparent;
    -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
          box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
    display: none;
  }
  @include ipad {
    background-color: $darkgray;
  }
}

.landscape-color {
  background-color: transparent;
}

.mobile-dropdown-nav {
  position: relative;
  width: 100%;
  height: 90px;
  // -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
  //         box-shadow: 1px 1px 3px rgba(1, 1, 1, .3);
  @include flexbox() {
  }
  @include justify-content(space-between) {
  }
  a {
    @include flexbox() {
    }
  }
  @include ipad {
    // background-color: transparent;
    transition: 0.5s background-color ease;
    -webkit-box-shadow: none;
          box-shadow: none;
        }
}

.dropbtn {
  background-color: transparent;
  padding: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 40px;
  content:url("images/hamburger-menu.png");
  @include align-self(right) {
  }
    @include landscape {
      background-color: slategray;
      padding: 19px 30px;
      height: 35px;
    }
    @include ipad {
      padding: 30px 30px 30px 30px;
    }
    @include xl {
      display: none;
    }
  }


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(255, 255, 255, .7);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right: 0;
  @include ipad {
    right: 30px;
  }

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(1, 1, 1, .7);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  font-family: $font-navbar;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(175, 191, 140);
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

.desktop-nav {

  display: none;
  @include xl {
    display: unset;
    width: 100vw;
    height: 90px;
    @include flexbox() {
    }
    @include justify-content(center) {
    }
      ul {
        width: 60vw;
        margin: 0 auto;
        position: absolute;
        right: 0;
        @include flexbox() {
        }
        @include flex-wrap(wrap) {
        }
        @include justify-content(space-around) {
        }
      }

    li {
      color: white;
      // width: 90px;
      height: 90px;
      a {
        margin: 0 auto;
        line-height: 90px;
        font-family: $font-navbar;
        letter-spacing: 1.5px;
        font-weight: 100;
        }
      a:hover {
        color: #DEE4E9;
      }
      }
    }
    @include xxl {
      ul {
      width: 700px;
      right: 0;
      left: 0;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      }
    }
  }


header {
  background-image: url('images/background_leaves_400.jpg');
  position: relative;
  z-index: -2;
  padding-top: 90px;
  height: calc(100vh - 90px);
  width: 100%;
  background-size: cover;
  margin-right: -30px;
  @include landscape {
    height: calc(100vh - 70px);
  }
    @include ipad {
      height: calc(66vh - 90px);
      margin-right: 0;
    }
     @include ipad-landscape {
      background-image: url('images/background_leaves_1200.jpg');
    height: calc(100vh - 70px);
    }
    @include xl {
      height: calc(100vh - 90px);
    }
}

.ipad-banner-bear {
  display: hidden;
  @include ipad {
    display: unset;
    content: url('images/bear_600.png');
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 250px;
    z-index: -100;
  }
  @include xl {
    display: none;
  }
}

.no-background {
  background-image: none;
  height: 0;
  bottom-margin: -90px;
  @include ipad {
    height: 0;
  }
}

.centered-box {
  position: relative;
  top: 0;
  bottom: 0;
  top: calc(50vh - 50px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    @include landscape {
      top: calc(50vh);
      margin-top: -70px;
      z-index: 5;
    }
    @include ipad {
      padding: 90px;
    }
    @include xl {
      display: none;
    }
}

.tan-box {
  background-color: transparent;
  width: 70%;
  margin-left: 15px;
  position: relative;
  margin-top: 25px;
  z-index: -5;
  h1 {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 20;
    line-height: 40px;
   }
   @include landscape {
    margin: auto 0;
   }
    @include ipad {
      // font-size: 36px;
      display: none;
    }
    @include xl {
      display: none;
    }
}

.video-div {
  display: none;
  @include ipad {
    display: unset;
    position: fixed;
    margin-top: -90px;
    width: 100vw;
    height: 66vh;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    @include ipad-landscape {
      display: unset;
      height: 100vh;
    }
    @include xl {
      display: unset;
      height: 100vh;
    }
  }
}

// .fade-in {
//   @include ipad {
//   opacity: 0;
//   }
// }

.video-div iframe {
   width: 100%;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3001;
}

//   @include ipad {
//     position:relative;
//     margin-top: -90px;
//     height: 66vh;
//     overflow: hidden;
//   }
//   @include xl {
//     height: 100vh;
//   }
// }


.banner-video {
  display: none;
  @include ipad {
    display: unset;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 66vh;
  }
  @include ipad-landscape {
    height: 100vh;
  }
  @include xl {
    height: 100%;
  }
}

.div-border {
  border: 3px solid $gold;
  width: 80vw;
  padding: 15px;
}

.dark-overlay {
    @include ipad {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: .7;
    background: rgba(1, 1, 1, .5);
      opacity: .7;
      z-index: 999;
    }
  @include xl {
    height: 100%;
  }

// background: #000000;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.video-banner-text {
  display: none;
  @include ipad {
    display: unset;
    width: 100%;
    height: 66vh;
    position: absolute;
    top: 0;
    @include flexbox() {
    }
    @include align-items(center) {
    }
    @include justify-content(center) {
    }
    @include flex-wrap(wrap) {
    }
    z-index: 2000;
    h1 {
      font-size: 62px;
      font-weight: 100;
      letter-spacing: 8.5px;
      color: rgba(255, 255, 255, .7);
      text-shadow: 1px 1px 3px rgba(1, 1, 1, .1);
      // text-decoration: border rgba(1, 1, 1, 1);
      width: 100%;
      padding: 0 0 30px 0;
      line-height: 48px;
    }
    h2 {
      color: rgba(255, 255, 255, .5);
      width: 40%;
      font-size: 22px;
      font-family: $font-content;
      margin: 0 auto;
      font-weight: 100;
      line-height: 40px;
    }
  }
  @include ipad-landscape {
    height: 100vh;
  }
}

.video-banner-text > div {
  width: 100%;
  height: 150px;
  text-align: center;
  @include ipad {
  h2 {
    width: 66%;
    line-height: 32px;
  }
}
 h2 {
  @include xl {
    width: 40%;
    line-height: 40px;
    }
  }
}

.border {
    padding: 0 15px 60px 15px;
    border: 3px solid rgba(70, 70, 70, 0.9);
    width: 100%;
    @include landscape {
      border: 0 solid rgba(70, 70, 70, 0.9);
    }
}

.banner-text {
  width: 90%;
  padding: 10px;
  padding-left: 0;
  position: relative;
  z-index: 10;
  @include ipad {
    display: none;
    // font-size: 18px;
    // width: 350px;
  }
  @include xl {
    display: none;
  }
  h2 {
    font-size: 20px;
  }
}

.banner-image {
  display: none;
  @include ipad {
  display: unset;
  width: 700px;
  position: relative;
  margin-top: -175px;
  margin-left: -150px;
  opacity: .2;
}
}

.snake-img {
  content: url('images/snake_homepage_400.png');
  margin-bottom: -40px;
  width: 65%;
  @include landscape {
    display: none;
  }
  @include ipad {
    display: none;
    // width: 45%;
    // margin-bottom: 40px;
  }
  @include xl {
    display: none;
  }
}

.bear-img {
  content: url("images/bear.png");
  top: 23vh;
  right: 0;
  position: absolute;
  z-index: 2;
  width: 50%;
  overflow-y: hidden;
  @include landscape {
    width: 30%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
    @include ipad {
      display: none;
      // width: 30%;
  }
  @include xl {
    display: none;
  }
}

.elephant-img {
  content: url('images/elephant_homepage_400.png');
  width: 65%;
  margin-top: -45px;
  margin-left: 33%;
  @include landscape {
    display: none;
  }
  @include ipad {
    display: none;
    // width: 45%;
    // margin-top: 0;
  }
  @include xl {
    display: none;
  }
}

.page-text {
  background-color: white;
  padding: 30px;
  h1 {
    margin-bottom: 30px;
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
  }
  @include flexbox() {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }
  @include ipad {
    padding: 90px;
  }
  @include xl {

    background-color: white;
    background-position: left;
    background-repeat: no-repeat;
    padding: 90px 160px;
    height: auto;
    @include flexbox() {
    }
    @include align-items(center) {
    }
    @include justify-content(center) {
    }
  }
}

.awards-div {
  position: relative;
  background-color: whitesmoke;
  padding: 30px 0;
  @include ipad {
    padding: 60px 0;
  }
  @include xl {
  padding: 90px 0;
  height: auto;
  }
}

.awards-page-text {
  position: relative;
  p {
  line-height: 1.5;
}
  @include ipad {
    padding: 60px 90px;
  }
  @include xl {
  background-color: whitesmoke;
  padding: 0 90px;
  @include flexbox() {
  }
  @include flex-wrap(wrap) {
  }
  @include justify-content(middle) {
  }
  @include align-items(center) {
  }
  position: relative;
  height: auto;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
    text-align: left;
  }
  h2 {
    text-align: center;
  }
}
@include xxl {
  padding: 0 120px;
}
@include custom(1600) {
  padding: 200px;

}
}

.about-alex {
  padding: 30px 0;
  h1 {
    letter-spacing: 4px;
    width: 100vw;
  }
  p {
    padding: 0 30px;
    font-size: 17px;
    line-height: 1.5;
  }
  @include ipad {
    padding: 0;
  }
  @include ipad-landscape {
    // @include flexbox() {
    // }
    // @include flex-wrap(wrap) {
    // }
    // @include justify-content(space-between) {
    // }
  }

  @include xl {
    @include flexbox() {
    }
    @include flex-wrap(wrap) {
    }
    @include justify-content(center) {
  }
    h1 {
    font-size: 42px;
    letter-spacing: 4px;
    width: 100%;
  }
  p {
    font-size: 17px;
    line-height: 1.5;
  }
}
}

.half-page-text {
  @include ipad-landscape {
  width: 35vw;
  padding: 0 15px;
  position: relative;
    // @include flexbox() {
    // }
    // @include align-items(center) {
    // }
    // @include justify-content(center) {
    // }
  }
  @include xl {
  width: 40vw;
  padding: 0 15px;
  position: relative;
  @include flexbox() {
  }
  @include align-items(center) {
  }
  @include justify-content(center) {
  }
    p {
      font-size: 17px;
    }
  }
}

.award {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  @include xl {
    margin-top: 0;
    font-size: 42px;
    letter-spacing: 4px;
    width: 100%;
    height: 5vw;
    text-align: center;
  }
}

.award-text {
  padding: 0 60px 60px 60px;
  @include xl {
    padding: 0 30px;
  }
}

.award-box {
  position: relative;
  @include flexbox() {
  }
  @include flex-direction(column) {
  }
  h2 {
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 2px;
  }
  p {
    line-height: 1.5;
  }
  @include xl {
    height: 500px;
    width: 27vw;
    @include flex-grow(1) {
  }
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include flex-wrap(nowrap) {
    }
    img {
      width: 40%;
      margin: 0 auto;
    }
  }
  @include xxl {
    height: 450px;
  }
  @include custom(1600) {
    height: 550px;
    width: 20vw;
  }

}

.z-index-20 {
  position: relative;
  z-index: 20;
}

.alex-photo-pottery {
  position: relative;
  z-index: 0;
  img {
    margin-bottom: -60px;
    margin-top: -120px;
    margin-left: -100px;
  }
  @include ipad {
    width: 80%;
  img {
    margin-bottom: -90px;
    margin-top: -160px;
    margin-left: -100px;
    margin-bottom: -90px;
  }
  }
  // content: url("images/Alex_pic.png");
  background-position: center;
  width: 100%;
  margin: 0 auto;
  @include xl {
    width: 28vw;
    img {
    margin-top: -100px;
    margin-left: -100px;
    margin-bottom: -40px;
    }
  }
}


.alex-photo {
  img {
    margin-bottom: -90px;
  }
  // content: url("images/Alex_pic.png");
  background-position: center;
  width: 80%;
  margin: 0 auto;
  @include ipad {
    width: 50%;
    margin-left: 25vw;
  }
  @include landscape {
    width: 40%;
    border: none;
    display: block;
    margin: 0 auto;
  }
  @include ipad-landscape {
     width: 30vw;
  }
  // margin-bottom: 90px;
  @include xl {
    width: 20vw;
    margin: 0 auto;
    margin-bottom: 0;
    margin-left: 10vw;
  }
}

.award-image {
  width: 30%;
    // position: absolute;
    // top: 0;
    // right: 15px;
    position: relative;
    margin: 0 auto;
  @include xl {
   width: 70%;
   margin: 0 auto;
  }
}

.michigan-image {
    content: url("images/globe_gold.svg");
    width: 30%;
    margin: 0 auto;
  @include xl {
   width: 70%;
   margin: 0 auto;
  }
}

.global-image {
    content: url("images/globe_gold.svg");
    width: 50%;
    margin: 0 auto;
    z-index: -400;
  @include xl {
   width: 70%;
   margin: 0 auto;
  }
}




//PORTFOLIO SECTION--------------------
.portfolio-div {
  background-image: url("images/background_leaves_400.jpg");
  position: relative;
  z-index: 30;
  text-align: center;
  // height: 100vh;
  // min-height: 845px;
  padding: 60px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  h1 {
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 20px;
    // margin-left: 20px;
    color: $font-dark-color;
    margin-bottom: 20px;
    @include xl {
      text-align: center;
    }
  }
  h3 {
    font-family: $font-content;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #2c3339;
  }
  h4 {
    font-family: $font-content;
    width: 40vw;
    margin: 0 auto;
  }
  p {
    font-family: $font-content;
    font-size: 15px;
    color: #2c3339;
    bottom: 10px;
  }
  iframe {
    margin: 0 auto;
  }
  @include landscape {
    background-position: center;
    background-image: url("images/background_leaves_800.jpg");
    padding: 60px 15px;
  }
  @include ipad {
    background-image: url("images/background_leaves_800.jpg");
    background-color: white;
    padding: 90px;
    width: auto;
  }
  @include xl {
    background-image: none;
    height: auto;
    min-height: 0;
  }
}

.black-box {
  width: 80%;
  height: 50px;
  background-color: rgba(70, 70, 70, .9);
}

// .slideshow-container {
//   /* line them up horizontally */
//   @include flexbox() {
//   }
//   width: 90vw;
//   /* allow for scrolling */
//   overflow-x: auto;
//   margin: 0 auto;
//   /* make it smooth on iOS */
//   -webkit-overflow-scrolling: touch;
//   @include xl {
//     // width: 45vw;
//     // margin: 0 auto;
//     width: auto;
//     overflow-x: none;
//     -webkit-overflow-scrolling: none;
//     max-width: 1000px;
//     position: relative;
//     margin: auto;
//   }
// }
// .slideshow-container > div {
//   /* make sure the width is honored */
//   -ms-flex-negative: 0;
//       flex-shrink: 0;
//   width: 70vw;
//   height: auto;
//   background-color: rgba(255, 255 ,255, .7);

//   // -webkit-box-shadow: 1px 1px 1px rgba(1, 1, 1, .1);
//   //         box-shadow: 1px 1px 1px rgba(1, 1, 1, .1);
//   -webkit-scroll-snap-points-x: repeat(90vw);
//       -ms-scroll-snap-points-x: repeat(90vw);
//           scroll-snap-points-x: repeat(90vw);
//   -webkit-scroll-snap-type: mandatory;
//       -ms-scroll-snap-type: mandatory;
//           scroll-snap-type: mandatory;
//   @include landscape {
//     width: 50vw;
//   }
//   @include ipad {
//     width: 60vw;
//     height: 60vw;
//   }
//   @include xl {
//     width: 35vw;
//   height: auto;
//   }
// }

.slider {
  position: relative;
  height: 90vw;
  margin: 0 auto;
  padding-bottom: 60px;
  button {
    position: absolute;
    width: 50px;
    height: 50px;
    // padding: 20px;
    border: none;
    font-size: 30px;
    color: slategray;
    background: none;
  }
  button:hover {
    opacity: .7;
    text-decoration: none;
  }
  button:focus {
    outline: none;
  }
  @include ipad {
  width: 80vw;
  height: 80vw;
  }
  @include xl {
    width: 600px;
    height: 600px;
    padding: 50px;
  }
}

.slide-info-div {
  @include align-self(middle) {
  }
  margin-top: 15vh;
  a:hover {
    opacity: .3;
  }
}



//GALLERY IMAGES-----------------------

.mySlides {
  height: auto;
  opacity: 0;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
    right: 0;
    left-margin: auto;
    right-margin: auto;
  img {
    width: 80%;
  }
  @include landscape {
    padding: 30px;
    img {
    width: 60%;
    }
  }
  @include ipad {
  }
  @include xl {
    img {
      width: 500px;
      height: 500px;
    }
  }
}

.slide-text {
    // position: absolute;
    // right: 0;
    // left: 0;
    // margin-right: auto;
    // margin-left: auto;
    // bottom: 30px;
    text-align: center;
    margin-bottom: -60px;

    // padding: 30px;
    @include ipad {
     right: 90px;
    }
  }

.display-right {
  right: 0;
  top: 50%;
  margin-top: -100px;
  z-index: 4000;
}

.display-left {
  left: 0;
  top: 50%;
  margin-top: -100px;
  z-index: 4000;
}
// .snake-slide {
//   z-index: 100;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: relative;
//   img {
//     width: 100%;
//     margin: 0 auto;
//   }
// }

// .log-slide {
//   z-index: 100;
//   background-position: center;
//   background-repeat: no-repeat;
//   position: relative;
//   img {
//     width: 100%;
//     margin: 0 auto;
//   }
// }

.video-link {
  img {
    width: 150px;
  }
  margin: 0 auto;
  z-index: 800;
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  @include ipad {
    margin-left: 0;
  }
}



.iframes-video {
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
    @include ipad {
      }
    @include landscape {
      padding-top: 154px;
      margin-bottom: 60px;
      }
    @include xl {
      width: 70%;
    }
  }

#jungle-slide {
  h3, p {
    color: white;
  }
}

#greenhouse-slide {
  h3, p {
    color: white;
  }
}

.info-slide {
  display: none;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
    margin: 0 auto;
  }
  @include flexbox() {
  }
  @include justify-content(center) {
  }
  h2 {
    font-family: $font-headers;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
  }
}

.shop-page-text {
  background-color: white;
  padding: 30px;
  h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
  }
  p {
    line-height: 17px;
    margin-bottom: 30px;
  }
  @include landscape {
    iframe {
      width: 150px;
      height: 150px;
      padding: 15px;
    }
  }
  @include ipad {
    // text-align: center;
    padding: 90px;
    iframe {
      margin: 0 15px;
      width: 250px;
      height: 250px;
    }
 }
  @include xl {
    background-color: whitesmoke;
    background-image: url("images/fishswimmingdown.png");
    background-position: left;
    background-repeat: no-repeat;
    padding: 90px 160px;
    height: auto;
    iframe {
      margin: 0 15px;
      width: 300px;
      height: 300px;

    }
  }
}

.iframe-wrapper {
  @include landscape {
    @include flexbox() {
    }
    @include flex-wrap(wrap) {
    }
    @include justify-content(center) {
    }
  }
  @include ipad {
    @include flexbox() {
    }
    @include flex-wrap(wrap) {
    }
    @include justify-content(center) {
    }
   }
  @include xl {
    display: unset;
    @include flexbox() {
    }
    @include flex-wrap(wrap) {
    }
    @include justify-content(center) {
    }
  }
}

h1.map-h2 {
  @include ipad {
    margin-top: 0;
  }
  @include xl {
    margin-top: 30px;
    font-size: 42px;
  }
}

h2.map-h2 {
  margin-bottom: 15px;
  @include ipad {
    margin-bottom: 30px;
    text-align: center;
  }
}

.spacer {
  height: 30px;
}

footer {
  // background-color: rgb(175, 191, 140);
  background-color: rgba(70, 70, 70, 1);
  height: 190px;
  h2 {
    font-family: $font-content;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    padding-bottom: 10px;
    }
  p {
    font-size: 12px;
    color: lightgray;
    font-family: $font-navbar;
    line-height: 20px;
  }
  ul {
    li:last-of-type {
      h2 {
        padding-bottom: 0;
      }
    }
  }
  @include ipad {
    height: 211px;
  }
}

.footer-div {
  padding: 20px;
  @include flexbox() {
  }
  @include justify-content(space-around) {
  }
  @include ipad {
    padding: 30px 90px;
  }
  @include xl {
   @include justify-content(center) {
   }
  }
}

.second-nav {
  width: 75px;
  padding-right: 15px;
  p {
    text-decoration: underline;
  }
  @include xl {
    padding-right: 190px;
  }
  ul {
    height: 100%;
    @include flexbox() {
    }
    @include flex-direction(column) {
    }
    @include justify-content(space-between) {
    }
  }
}

.contact-info {
  @include align-self(flex-start) {
  }
  width: 170px;
  h1 {
    margin-bottom: 10px;
  }
}

.social-media {
  padding-left: 15px;
  @include xl {
    padding-left: 190px;
  }
}

.copyright {
  padding: 15px;
  background-color: rgba(60, 60, 60, .2);
  p {
    font-size: 12px;
  }
}

//-------Video.html styles

.page-wrapper {
  min-height: calc(100vh - 260px);
  // margin-bottom: -154px;
  z-index: -10px;
  background-color: black;
  position: relative;
  z-index: -400;
  padding: 120px;
  margin-top: -154px;
  @include ipad {
    // height: auto;
    // margin-bottom: -90px;
  }
   @include landscape {
      height: 100vh;

  }
  @include xl {
    height: calc(100vh);
  }
}
