@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto+Condensed:300,400,700|Special+Elite");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet");
html, body {
  margin: 0;
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  position: relative;
  z-index: -2000; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: 700; }

.iframes {
  padding: 0;
  position: relative;
  width: 100%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

h1 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 400;
  color: slategray;
  letter-spacing: 3px;
  line-height: 20px; }

h2 {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: slategray;
  letter-spacing: .5px;
  font-weight: 400; }

h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: slategray;
  letter-spacing: .5px;
  font-weight: 100; }

p {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  color: slategray;
  letter-spacing: .5px;
  font-weight: 100; }

a {
  text-decoration: none;
  color: inherit; }

.no-text-decoration {
  color: white; }

hr {
  color: slategray; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 302; }

.navbar-logo {
  position: absolute;
  left: 0;
  top: 15px;
  content: url("images/twotonebull.svg");
  height: 60px;
  margin-left: 30px;
  -webkit-align-self: center;
  -ms-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .navbar-logo {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .navbar-logo {
      display: unset;
      left: 30px;
      content: url("images/cutebullpc.svg"); } }
  @media only screen and (min-width: 1026px) {
    .navbar-logo {
      content: url("images/cutebullpc.svg");
      height: 60px;
      margin-top: 0; } }

.transparent-color {
  background-color: slategray;
  -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3); }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .transparent-color {
      background-color: transparent;
      -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
      box-shadow: 1px 1px 3px rgba(1, 1, 1, 0); } }
  @media only screen and (min-width: 768px) {
    .transparent-color {
      display: unset;
      background-color: transparent; } }

.background-color {
  background-color: slategray;
  -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3); }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .background-color {
      background-color: transparent;
      -webkit-box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
      box-shadow: 1px 1px 3px rgba(1, 1, 1, 0);
      display: none; } }
  @media only screen and (min-width: 768px) {
    .background-color {
      background-color: slategray; } }

.landscape-color {
  background-color: transparent; }

.mobile-dropdown-nav {
  position: relative;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  .mobile-dropdown-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media only screen and (min-width: 768px) {
    .mobile-dropdown-nav {
      transition: 0.5s background-color ease;
      -webkit-box-shadow: none;
      box-shadow: none; } }

.dropbtn {
  background-color: transparent;
  padding: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 40px;
  content: url("images/hamburger-menu.png");
  -webkit-align-self: right;
  -ms-align-self: right;
  -ms-flex-item-align: right;
  -ms-grid-row-align: right;
  align-self: right; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .dropbtn {
      background-color: slategray;
      padding: 19px 30px;
      height: 35px; } }
  @media only screen and (min-width: 768px) {
    .dropbtn {
      padding: 30px 30px 30px 30px; } }
  @media only screen and (min-width: 1026px) {
    .dropbtn {
      display: none; } }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(255, 255, 255, 0.7); }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right: 0; }
  @media only screen and (min-width: 768px) {
    .dropdown {
      right: 30px; } }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(1, 1, 1, 0.7);
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  font-family: "Roboto Condensed", sans-serif; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: white; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #afbf8c; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

.desktop-nav {
  display: none; }
  @media only screen and (min-width: 1026px) {
    .desktop-nav {
      display: unset;
      width: 100vw;
      height: 90px; }
      .desktop-nav ul {
        width: 60vw;
        position: absolute;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -webkit-box-pack: space-around;
        justify-content: space-around;
        -ms-flex-pack: space-around; }
        .desktop-nav ul li {
          color: white;
          width: 90px;
          height: 90px; }
          .desktop-nav ul li a {
            line-height: 90px;
            font-family: "Roboto Condensed", sans-serif;
            letter-spacing: 1.5px;
            font-weight: 100; }
          .desktop-nav ul li a:hover {
            color: #DEE4E9; } }

header {
  background-image: url("images/background_leaves_400.jpg");
  position: relative;
  z-index: -2;
  padding-top: 90px;
  height: calc(100vh - 90px);
  width: 100%;
  background-size: cover;
  margin-right: -30px; }
  @media only screen and (min-width: 768px) {
    header {
      background-image: url("images/background_leaves_800.jpg");
      height: calc(66vh - 90px);
      margin-right: 0; } }
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    header {
      background-image: url("images/background_leaves_1200.jpg");
      height: calc(100vh - 70px); } }
  @media only screen and (min-width: 1026px) {
    header {
      height: calc(100vh - 90px); } }

.ipad-banner-bear {
  display: hidden; }
  @media only screen and (min-width: 768px) {
    .ipad-banner-bear {
      display: unset;
      content: url("images/bear_600.png");
      position: absolute;
      right: 30px;
      bottom: 30px;
      width: 250px;
      z-index: -100; } }
  @media only screen and (min-width: 1026px) {
    .ipad-banner-bear {
      display: none; } }

.no-background {
  background-image: none;
  height: 0;
  bottom-margin: -90px; }
  @media only screen and (min-width: 768px) {
    .no-background {
      height: 0; } }

.centered-box {
  position: relative;
  top: 0;
  bottom: 0;
  top: calc(50vh - 50px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media only screen and (min-width: 768px) {
    .centered-box {
      padding: 90px; } }
  @media only screen and (min-width: 1026px) {
    .centered-box {
      display: none; } }

.tan-box {
  background-color: transparent;
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  margin-left: 15px;
  position: relative;
  margin-top: -4px;
  z-index: 4; }
  .tan-box h1 {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 400;
    color: slategray;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 20;
    line-height: 25px; }
    @media only screen and (min-width: 768px) {
      .tan-box h1 {
        display: none; } }
    @media only screen and (min-width: 1026px) {
      .tan-box h1 {
        display: none; } }

.video-div {
  display: none; }
  @media only screen and (min-width: 768px) {
    .video-div {
      display: unset;
      position: fixed;
      margin-top: -90px;
      width: 100vw;
      height: 66vh;
      z-index: -1;
      pointer-events: none;
      overflow: hidden; } }
  @media only screen and (min-width: 768px) and (min-width: 961px) and (orientation: landscape) {
    .video-div {
      height: 100vh; } }
  @media only screen and (min-width: 768px) and (min-width: 1026px) {
    .video-div {
      height: 100vh; } }

.video-div iframe {
  width: 100%;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3001; }

.banner-video {
  display: none; }
  @media only screen and (min-width: 768px) {
    .banner-video {
      display: unset;
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 66vh; } }
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    .banner-video {
      height: 100vh; } }
  @media only screen and (min-width: 1026px) {
    .banner-video {
      height: 100%; } }

.dark-overlay {
  opacity: .7;
  z-index: 999; }
  @media only screen and (min-width: 768px) {
    .dark-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: rgba(1, 1, 1, 0.5); } }
  @media only screen and (min-width: 1026px) {
    .dark-overlay {
      height: 100%; } }

.video-banner-text {
  display: none; }
  @media only screen and (min-width: 768px) {
    .video-banner-text {
      display: unset;
      width: 100%;
      height: 66vh;
      position: absolute;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      z-index: 2000; }
      .video-banner-text h1 {
        font-family: "Playfair Display", serif;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 8.5px;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.1);
        width: 100%;
        padding: 0 0 30px 0;
        line-height: 48px; }
      .video-banner-text h2 {
        color: rgba(255, 255, 255, 0.5);
        width: 40%;
        font-size: 22px;
        font-family: "Roboto Condensed", sans-serif;
        margin: 0 auto;
        font-weight: 100;
        line-height: 40px; } }
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    .video-banner-text {
      height: 100vh; } }

.video-banner-text > div {
  width: 100%;
  height: 150px;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .video-banner-text > div h2 {
      width: 66%;
      line-height: 32px; } }
  @media only screen and (min-width: 1026px) {
    .video-banner-text > div h2 {
      width: 40%;
      line-height: 40px; } }

.banner-text {
  width: 225px;
  padding: 10px;
  margin-left: 15px;
  position: relative;
  z-index: 10; }
  @media only screen and (min-width: 768px) {
    .banner-text {
      display: none; } }
  @media only screen and (min-width: 1026px) {
    .banner-text {
      display: none; } }

.banner-image {
  display: none; }
  @media only screen and (min-width: 768px) {
    .banner-image {
      display: unset;
      width: 700px;
      position: relative;
      margin-top: -175px;
      margin-left: -150px;
      opacity: .2; } }

.snake-img {
  content: url("images/snake_homepage_400.png");
  margin-bottom: -40px;
  width: 65%; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .snake-img {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .snake-img {
      display: none; } }
  @media only screen and (min-width: 1026px) {
    .snake-img {
      display: none; } }

.bear-img {
  content: url("images/bear.png");
  top: 23vh;
  right: 0;
  position: absolute;
  z-index: 2;
  width: 50%;
  overflow-y: hidden; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .bear-img {
      width: 30%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute; } }
  @media only screen and (min-width: 768px) {
    .bear-img {
      display: none; } }
  @media only screen and (min-width: 1026px) {
    .bear-img {
      display: none; } }

.elephant-img {
  content: url("images/elephant_homepage_400.png");
  width: 65%;
  margin-top: -45px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .elephant-img {
      display: none; } }
  @media only screen and (min-width: 768px) {
    .elephant-img {
      display: none; } }
  @media only screen and (min-width: 1026px) {
    .elephant-img {
      display: none; } }

.page-text {
  background-color: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .page-text h1 {
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: slategray !important; }
  .page-text p {
    line-height: 17px;
    margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .page-text {
      padding: 90px; } }
  @media only screen and (min-width: 1026px) {
    .page-text {
      background-image: url("images/fish2gray.png");
      background-color: white;
      background-position: left;
      background-repeat: no-repeat;
      padding: 90px 160px;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
      justify-content: center;
      -ms-flex-pack: center; } }

.awards-div {
  background-color: whitesmoke;
  padding: 30px 0; }
  @media only screen and (min-width: 768px) {
    .awards-div {
      padding: 60px 0; } }
  @media only screen and (min-width: 1026px) {
    .awards-div {
      padding: 90px 0;
      height: auto; } }

.awards-page-text p {
  line-height: 1.5;
  font-size: 14px; }
@media only screen and (min-width: 768px) {
  .awards-page-text {
    padding: 60px 90px; } }
@media only screen and (min-width: 1026px) {
  .awards-page-text {
    background-color: whitesmoke;
    padding: 0 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: middle;
    -ms-justify-content: middle;
    -webkit-box-pack: middle;
    justify-content: middle;
    -ms-flex-pack: middle;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: calc(65vh - 90px);
    margin: 0 auto; }
    .awards-page-text h1 {
      font-size: 30px;
      text-align: center; }
    .awards-page-text p {
      line-height: 17px;
      margin-bottom: 30px;
      text-align: center; } }

#about {
  padding: 30px 0; }
  #about h1 {
    font-size: 32px;
    letter-spacing: 4px;
    width: 100%;
    font-family: slategray; }
  #about p {
    font-size: 17px;
    line-height: 1.5; }
  @media only screen and (min-width: 1026px) {
    #about {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -webkit-box-pack: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between; }
      #about h1 {
        font-size: 42px;
        letter-spacing: 4px;
        width: 100%; }
      #about p {
        font-size: 17px;
        line-height: 1.5; } }

@media only screen and (min-width: 961px) and (orientation: landscape) {
  .half-page-text {
    width: 35vw;
    padding: 0 15px;
    position: relative; } }
@media only screen and (min-width: 1026px) {
  .half-page-text {
    width: 40vw;
    padding: 0 15px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; }
    .half-page-text p {
      font-size: 17px; } }

.fish-gray {
  background-image: cover;
  position: absolute;
  width: 800px;
  top: 0;
  z-index: 900; }

.award {
  width: 100%;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  text-align: center; }
  @media only screen and (min-width: 1026px) {
    .award {
      font-size: 42px;
      letter-spacing: 4px;
      width: 100%;
      height: 5vw;
      text-align: center; } }

.award-text {
  padding: 0 60px 60px 60px; }
  @media only screen and (min-width: 1026px) {
    .award-text {
      padding: 0 30px; } }

.award-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  .award-box h2 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
    letter-spacing: 2px; }
  .award-box p {
    font-size: 17px;
    line-height: 1.5; }
  @media only screen and (min-width: 1026px) {
    .award-box {
      height: 400px;
      width: 27vw;
      -moz-flex-grow: 1;
      -ms-flex-grow: 1;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
      .award-box img {
        width: 50%;
        margin: 0 auto; } }
  @media only screen and (min-width: 1281px) {
    .award-box {
      height: 450px; } }
  @media only screen and (min-width: 1600) {
    .award-box {
      height: 500px; } }

.alex-photo {
  background-position: center;
  width: 80%;
  margin: 0 auto; }
  .alex-photo img {
    margin-bottom: -90px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .alex-photo {
      width: 40%;
      border: none;
      display: block;
      margin: 0 auto; } }
  @media only screen and (min-width: 961px) and (orientation: landscape) {
    .alex-photo {
      width: 30vw; } }
  @media only screen and (min-width: 1026px) {
    .alex-photo {
      width: 28vw;
      margin: 0 auto;
      margin-bottom: 0; } }

.award-image {
  width: 30%;
  margin: 0 auto; }
  @media only screen and (min-width: 1026px) {
    .award-image {
      width: 70%;
      margin: 0 auto; } }

.michigan-image {
  content: url("images/michigan.svg");
  width: 30%;
  margin: 0 auto; }
  @media only screen and (min-width: 1026px) {
    .michigan-image {
      width: 70%;
      margin: 0 auto; } }

.global-image {
  content: url("images/globe.svg");
  width: 30%;
  margin: 0 auto; }
  @media only screen and (min-width: 1026px) {
    .global-image {
      width: 70%;
      margin: 0 auto; } }

.portfolio-div {
  background-image: url("images/background_leaves_400.jpg");
  position: relative;
  z-index: 30;
  text-align: center;
  padding: 60px 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center; }
  .portfolio-div h1 {
    font-size: 30px;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px white; }
  .portfolio-div h2 {
    margin-top: 20px;
    color: slategray;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
    margin-bottom: 20px; }
    @media only screen and (min-width: 1026px) {
      .portfolio-div h2 {
        text-align: center; } }
  .portfolio-div h3 {
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #2c3339; }
  .portfolio-div h4 {
    font-family: 'Special Elite', cursive;
    width: 40vw;
    margin: 0 auto; }
  .portfolio-div p {
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    color: #2c3339;
    bottom: 10px; }
  .portfolio-div iframe {
    margin: 0 auto; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .portfolio-div {
      background-position: center;
      background-image: url("images/background_leaves_800.jpg");
      padding: 60px 15px; } }
  @media only screen and (min-width: 768px) {
    .portfolio-div {
      background-image: url("images/background_leaves_800.jpg");
      background-color: white;
      padding: 90px;
      width: auto; } }
  @media only screen and (min-width: 1026px) {
    .portfolio-div {
      background-image: none;
      height: auto;
      min-height: 0; } }

.slider {
  position: relative;
  height: 90vw;
  margin: 0 auto;
  padding-bottom: 60px; }
  .slider button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 30px;
    color: slategray;
    background: none; }
  .slider button:hover {
    opacity: .7;
    text-decoration: none; }
  .slider button:focus {
    outline: none; }
  @media only screen and (min-width: 768px) {
    .slider {
      width: 80vw;
      height: 80vw; } }
  @media only screen and (min-width: 1026px) {
    .slider {
      width: 600px;
      height: 600px;
      padding: 50px; } }

.slide-info-div {
  -webkit-align-self: middle;
  -ms-align-self: middle;
  -ms-flex-item-align: middle;
  -ms-grid-row-align: middle;
  align-self: middle;
  margin-top: 15vh; }
  .slide-info-div a:hover {
    opacity: .3; }

.mySlides {
  opacity: 0;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  padding: 30px;
  -webkit-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  left: 0;
  right: 0;
  left-margin: auto;
  right-margin: auto; }
  .mySlides img {
    width: 80%; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .mySlides img {
      width: 60%; } }
  @media only screen and (min-width: 1026px) {
    .mySlides img {
      width: 500px;
      height: 500px; } }

.slide-text {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  bottom: 30px;
  padding: 30px; }
  @media only screen and (min-width: 768px) {
    .slide-text {
      right: 90px;
      text-align: right; } }

.display-right {
  right: 0;
  top: 50%;
  margin-top: -100px;
  z-index: 4000; }

.display-left {
  left: 0;
  top: 50%;
  margin-top: -100px;
  z-index: 4000; }

.video-link {
  margin: 0 auto;
  z-index: 800;
  position: relative;
  margin-top: 15px;
  margin-left: 20px; }
  .video-link img {
    width: 150px; }
  @media only screen and (min-width: 768px) {
    .video-link {
      margin-left: 0; } }

.iframes-video {
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .iframes-video {
      padding-top: 154px;
      margin-bottom: 60px; } }
  @media only screen and (min-width: 1026px) {
    .iframes-video {
      width: 70%; } }

#jungle-slide h3, #jungle-slide p {
  color: white; }

#greenhouse-slide h3, #greenhouse-slide p {
  color: white; }

.info-slide {
  display: none;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .info-slide img {
    width: 100%;
    margin: 0 auto; }
  .info-slide h2 {
    font-family: "Playfair Display", serif;
    width: 40vw;
    margin: 0 auto;
    text-align: center; }

.shop-page-text {
  background-color: white;
  padding: 30px; }
  .shop-page-text h1 {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
    text-align: center; }
  .shop-page-text p {
    line-height: 17px;
    margin-bottom: 30px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .shop-page-text iframe {
      width: 150px;
      height: 150px;
      padding: 15px; } }
  @media only screen and (min-width: 768px) {
    .shop-page-text {
      padding: 90px; }
      .shop-page-text iframe {
        margin: 0 15px;
        width: 250px;
        height: 250px; } }
  @media only screen and (min-width: 1026px) {
    .shop-page-text {
      background-color: whitesmoke;
      background-image: url("images/fishswimmingdown.png");
      background-position: left;
      background-repeat: no-repeat;
      padding: 90px 160px;
      height: auto; }
      .shop-page-text iframe {
        margin: 0 15px;
        width: 300px;
        height: 300px; } }

@media only screen and (max-height: 450px) and (orientation: landscape) {
  .iframe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; } }
@media only screen and (min-width: 768px) {
  .iframe-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; } }
@media only screen and (min-width: 1026px) {
  .iframe-wrapper {
    display: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    justify-content: center;
    -ms-flex-pack: center; } }

h1.map-h2 {
  margin-top: 60px; }
  @media only screen and (min-width: 768px) {
    h1.map-h2 {
      margin-top: 0; } }
  @media only screen and (min-width: 1026px) {
    h1.map-h2 {
      margin-top: 30px;
      font-size: 42px; } }

h2.map-h2 {
  margin-bottom: 15px; }
  @media only screen and (min-width: 768px) {
    h2.map-h2 {
      margin-bottom: 30px;
      text-align: center; } }

.spacer {
  height: 30px; }

footer {
  background-color: slategray;
  height: 170px; }
  footer h2 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 100;
    padding-bottom: 10px; }
  footer p {
    color: lightgray; }
  footer ul li:last-of-type h2 {
    padding-bottom: 0; }
  @media only screen and (min-width: 768px) {
    footer {
      height: 190px; } }

.footer-div {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -webkit-box-pack: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around; }
  @media only screen and (min-width: 768px) {
    .footer-div {
      padding: 30px 90px; } }

.second-nav {
  width: 75px;
  padding-right: 15px; }
  .second-nav h2 {
    text-decoration: underline; }

.contact-info {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  -ms-flex-item-align: flex-end;
  -ms-grid-row-align: flex-end;
  align-self: flex-end;
  width: 170px; }
  .contact-info h1 {
    margin-bottom: 10px; }

.social-media {
  padding-left: 15px; }

.copyright {
  padding: 15px;
  background-color: rgba(60, 60, 60, 0.2); }
  .copyright p {
    font-size: 12px; }

.page-wrapper {
  min-height: calc(100vh - 260px);
  z-index: -10px;
  background-color: black;
  position: relative;
  z-index: -400;
  padding: 120px;
  margin-top: -154px; }
  @media only screen and (max-height: 450px) and (orientation: landscape) {
    .page-wrapper {
      height: 100vh; } }
  @media only screen and (min-width: 1026px) {
    .page-wrapper {
      height: calc(100vh); } }

/*# sourceMappingURL=app.css.map */
